/* Light theme custom styles */

body{
    background-color: #e9e8fc;
}


.header__title{
    color:#474747;
}

.theme i{
    color: #474747;
}

.theme__switch{
    color: #474747;
}

.search{
    background-color: #fff;
    box-shadow: 4px 7px 18px -9px rgba(0,0,0,0.5);
}


.form__icon{
    color: #364570;
}

.form__input{
    color: #364570;
}
.form__button{
    color: #fff;
}

.result{
    background-color: #fff;
    box-shadow: 4px 7px 18px -9px rgba(0,0,0,0.5);
}

.bio{
    color: #474747;
}

.stats{
    background-color: #e9e8fc;
}

.stats p small{
    color: #474747;
}
.stats p{
    color: #474747;
}
.link{
    color: #474747;
}
.link i{
    color: #474747;
}
.name{
    color: #474747;
}
.joined{
    color: #474747;
}
