/* General */
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Main */

.main{
    width:80%;
    max-width: 768px;
    min-height: 20rem;
}

/* Header */

.header{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    margin: 0;
    font-weight: normal;
    font-size: 1.5rem;
}

.theme{
    font-size:1rem;
}

.theme i{
    margin:0 0 0 1rem;
}

.theme__switch{
    color: #fff;
    text-decoration: none;
}

/* Search */

.search{
    padding: 0 1.4rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;

}

.form{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.form__icon{
    font-size: 1.6rem;
    margin-right: 1rem;
}

.form__button{
    background-color: #2349b4;
    border: none;
    padding: 1rem;
    border-radius: .8rem;
    color:lightgray;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 1rem;
}
.form__input{
    flex-grow: 1;
    background-color: inherit;
    border: none;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    font-size:1.2rem;
}

/* Result */

.result{
    padding: 1.8rem;
    display:grid;
    border-radius: 1rem;
    grid-template-columns: 1fr 2fr 2fr;
    gap: .5rem 1rem;
    grid-template-areas:
        "avatar name joined"
        "avatar username username"
        "avatar bio bio"
        ". stats stats"
        ". contact contact"
        ;
}
.waiting, .not-found{
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end:6;
    width: 100%;
    border-radius:0.8rem;
}

.avatar{
    min-width: 100px;
    max-width:140px;
    width: 80%;
    grid-area: avatar;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}
.name{
    grid-area: name;
    font-size: 1.1rem;
    font-weight: normal;
    justify-self: start;
    align-self: center;
    margin: .5rem;
}
.joined{
    grid-area: joined;
    justify-self: end;
    font-size: .6rem;
    align-self: center;
    margin: .5rem;
}
.username{
    grid-area: username;
    font-weight: normal;
    margin: .5rem;
    color:#2349b4 ;
}
.bio{
    grid-area: bio;
    font-size: .8rem;
    margin: .5rem;
}
.stats{
    grid-area: stats;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}
.stats p small{
    color: lightgray;
    font-size: 0.8rem;
}
.stats p{
    margin: 0;
    font-size: 1.3rem;
    flex-basis: 33%;
    color:lightgray;
}
.contact{
    grid-area: contact;
    display:grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 0.5rem;
}
.link{
    color: lightgray;
    text-decoration: none;
    font-size: .8rem;
}
.link i{
    color:#fff;
    margin-right: .3rem;
}

@media screen and (max-width: 540px){
    .main{
        width:90%;
    }
    .result{
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
        "avatar name"
        "avatar username"
        "avatar joined"
        "bio bio"
        "stats stats"
        "contact contact"
        ;
    }
    .search{
        padding: 0 .6rem;
    }
    .form__input{
        overflow: hidden;
    }
    .avatar{
        justify-self: center;
        align-self: center;
    }
    .joined{
        justify-self: start;
    }
    .bio{
        margin-top: 1.5rem;
    }
}
@media  screen and (max-width:440px){
    .contact{
        grid: 1fr / 4fr;
        gap: 1rem;
    }
    .main{
        min-width: 320px;
    }
}